# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Index In Browser'
      'command': 'rails-open:open-index'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Rails Open'
      'submenu': [
        {
          'label': 'Open Index In Browser'
          'command': 'rails-open:open-index'
        }
      ]
    ]
  }
]
